name: Publish to GitHub package registry

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: Perform a dry-run
        default: true

jobs:
  # Publishes a new version to the GitHub package registry at:
  # https://github.com/clechasseur/rs-actions-core/pkgs/npm/rs-actions-core
  publish-to-github:
    runs-on: ubuntu-24.04
    permissions:
      # https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions#publishing-a-package-using-an-action
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Create npm configuration
        run: echo "//npm.pkg.github.com/:_authToken=${token}" >> ~/.npmrc
        env:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - run: npm ci
      - name: Build package
        run: npm run build
      - name: Publish to GitHub package registry
        run: npm publish ${{ inputs.dry-run && '--dry-run' || '' }}

  # Publishes a new version to the NPM package registry at:
  # https://npmjs.com/package/@clechasseur/rs-actions-core
  publish-to-npm:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Remove GitHub package registry reference
        run: rm .npmrc

      - run: npm ci
      - name: Build package
        run: npm run build
      - name: Publish to NPM package registry
        run: npm publish --provenance --access public ${{ inputs.dry-run && '--dry-run' || '' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
